{% extends 'base.html.twig' %}

{% block title %}New Formateur{% endblock %}

{% block body %}
<div class="container">
    <h3 class="my-4">Ajouter nouveau Formateur</h3>

    {{ include('formateur/_form.html.twig') }}

    <a class="btn btn-primary my-4" href="{{ path('app_formateur_index') }}">back to list</a>
    </div>
{% endblock %}
