{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h3>Create new User</h3>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_user_index') }}">Back</a>
{% endblock %}
